body {
    background-color: rgb(0, 191, 255);
    text-align: center;
    font-family: 'Ubuntu';
}

#correct {
    color: rgb(0, 255, 0)
}

#incorrect {
    color: red
}

.invisible {
    border: none;
}

.proceed {
    font-size: xx-large;
}

img {
    width: 50%;
    height: auto;
  }  
  .topnav {
    /* background-color: #333; */
    overflow: hidden;
    font-family: Ubuntu;
  }
  
  .topnav a {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04aa6d;
    color: white;
  }  