h1 {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 64px;
    text-align: center;
}

p {
    font-family: 'Ubuntu'
}

h2 {
    text-align: center;
}

.quizlink{
    position: relative;
    top: -200;
    left: 600;
    font-size: xx-large;
    font-family: 'Ubuntu';
}

.newslink{
    position: relative;
    top: -100;
    left: 245;
    font-size: xx-large;
    font-family: 'Ubuntu';
}

h2 {
    font-family: 'Ubuntu';
}

body {
    background-color: rgb(8, 210, 250);
}

#logo{
    width: 100px;
    height: 100px;
}