h1 {
    font-family: 'Ubuntu';
    font-weight: normal;
    font-size: 64px;
    text-align: center;
}

p {
    font-family: 'Ubuntu'
}

h2 {
    text-align: center;
}

.quizlink{
    text-align: center;
    font-size: xx-large;
    font-family: 'Ubuntu';
}

.newslink{
    text-align: center;
    font-size: xx-large;
    font-family: 'Ubuntu';
}

h2 {
    font-family: 'Ubuntu';
}

body {
    background-color: rgb(8, 210, 250);
    text-align: center;
}

#logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
