* {
    margin: 0pt;
    padding: 0pt;
}
body {
    /* background: linear-gradient(95deg, #fff, #34d1d1); */
    /* background-image: url("../Assets/background-000.jpeg"); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vmax;
}
header {
    position:fixed;
    border-width: 13px;
    border-color: #434343;
}
.headerh {
    /* background: linear-gradient(to right, #34d1d1, #fff); */
    padding: 10pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #434343;
    width: 100vmax;
}
ol {
    display: inline-block;
    margin-left: 16pt;
}
li {
    list-style-type: none;
    display: inline;
    padding-right: 16pt;
}
.navi > a {
    text-decoration: none;
    color: #434343;
    font-size: 12pt;
    vertical-align: middle;
}
h1 :hover {
    color: #000;
}
.container {
    padding-top: 48pt;
    /* background: linear-gradient(to left, rgb(174, 255, 127), #00000000); */
}
