* {
    color: #e6e6e6;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
body {
    background-color: #434343;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100vmax;
}
header {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8pt;
}
header a {
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 8px;
    margin: 0px 16px;
}
header a:hover {
    background-color: #c2c2c2;
}
header a.current {
    background: linear-gradient(135deg, lightblue, white);
    color: #434343;
}
.container {
    padding-top: 48pt;
}
